*{
    margin:0;
    padding: 0;
}
body{
    background:linear-gradient(300deg,#3a0646 20%,#b20474 80%);
}
#wrapper{
    border: 2px solid;
    max-width: 900px;
    margin: 5rem auto;
    display:grid;
    border-radius: 20px;
    height: 70vh;
    background-color: #fff; 
    display: flex;
    
}
.img container{
    padding-inline: 2rem;
    background: linear-gradient(300deg,);
    border-radius: 20px;
    

    }
    .